#payment__content {
  width: 100%;
}

.payment__payment-wrap {
  width: 100%;
  justify-content: space-between;

  .payment-title {
    padding: 33px 40px;
    width: 22%;
    flex: 1 1 22%;
    background: white;

    h2 {
      font: 40px $font_main;
      font-weight: 600;
      color: #002855;
      text-transform: uppercase;

      @include mq-custom(1366px) {
        font: 36px $font_main;
        font-weight: 600;
        color: #002855;
      }

      @include mq-custom(1280px) {
        font: 30px $font_main;
        font-weight: 600;
        color: #002855;
      }

      @include mq-custom(1024px) {
        font: 26px $font_main;
        font-weight: 600;
        color: #002855;
      }
    }

    @include mq-custom(1366px) {
      padding: 30px 20px;
    }

    @include mq-custom(1280px) {
      width: 100%;
      flex: 1 1 100%;
    }
  }

  .payment-item {
    position: relative;
    width: 26%;
    flex: 1 1 26%;
    min-height: 163px;
    padding: 33px 55px;

    &:nth-child(2) {
      background: #FF6666;
    }

    &:nth-child(3) {
      background: #FFB386;
    }

    &:nth-child(4) {
      background: #FFB386;

      @include mq-custom(640px) {
        width: 100%;
        flex: 1 1 100%;
        justify-content: center;
        border-top: 1px solid white;
      }
    }

    @include mq-custom(1366px) {
      padding: 30px 30px;
    }

    @include mq-custom(1280px) {
      padding: 20px 20px;
    }

    @include mq-custom(1280px) {
      width: 33.3%;
      flex: 1 1 33.3%;
    }

    @include mq-custom(768px) {
      padding: 20px 10px;
    }

    @include mq-custom(640px) {
      width: 50%;
      flex: 1 1 50%;
    }
  }

  .payment-item__title {
    position: relative;
    z-index: 2;
    margin-right: 20px;

    .number {
      width: 23px;
      height: 23px;
      background: white;
      border-radius: 50%;
      font: 14px/23px $font_main;
      font-weight: normal;
      color: #FF6666;
      text-transform: uppercase;
      text-align: center;
    }

    .title {
      display: inline-block;
      margin: 20px auto 0 -11px;
      font: 14px/20px $font_main;
      font-weight: normal;
      color: white;
      transform: rotate(-90deg);
    }

    @include mq-custom(768px) {
      margin-right: 5px;
    }
  }

  .payment-item__text {
    position: relative;
    z-index: 2;

    p {
      font: 20px $font_main;
      font-weight: 500;
      color: white;

      @include mq-custom(768px) {
        font: 18px $font_main;
        font-weight: 500;
        color: white;
      }
    }

    .discount {
      font: 23px $font_main;
      font-weight: normal;
      color: white;
    }

    .discount-big {
      font: 78px $font_main;
      font-weight: 800;
      color: white;

      @include mq-custom(1366px) {
        font: 70px $font_main;
        font-weight: 800;
        color: white;
      }

      @include mq-custom(1280px) {
        font: 60px $font_main;
        font-weight: 800;
        color: white;
      }

      @include mq-custom(1024px) {
        font: 50px $font_main;
        font-weight: 800;
        color: white;
      }
    }
  }

  .payment-item__img {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;

    img {
      display: block;
      max-width: 100%;
    }

    @include mq-custom(768px) {
      position: relative;
      margin-top: -20px;
    }

    @include mq-custom(640px) {
      margin-left: 30px;
    }
  }

  @include mq-custom(1280px) {
    flex-wrap: wrap;
  }
}

.payment__person {
  .person-title {
    position: relative;
    padding: 33px 40px;
    width: 22%;
    flex: 1 1 22%;
    background: #E9E7FC;

    &:after {
      @include pseudo(1,auto,50%,auto,-15px);
      width: 30px;
      height: 30px;
      background: #E9E7FC;
      transform: translateY(-50%) rotate(45deg);

      @include mq-custom(1024px) {
        @include pseudo(1,50%,auto,-10px,auto);
        width: 20px;
        height: 20px;
        transform: translateY(0) translateX(-50%) rotate(45deg);
      }
    }

    h2 {
      font: 25px $font_main;
      font-weight: bold;
      color: #484848;
      text-transform: uppercase;

      @include mq-custom(1366px) {
        font: 24px $font_main;
        font-weight: bold;
        color: #484848;
      }

      @include mq-custom(1280px) {
        font: 20px $font_main;
        font-weight: bold;
        color: #484848;
      }

      @include mq-custom(1024px) {
        font: 18px $font_main;
        font-weight: bold;
        color: #484848;
      }
    }

    @include mq-custom(1366px) {
      padding: 30px 20px;
    }

    @include mq-custom(1280px) {
      width: 100%;
      flex: 1 1 100%;
    }
  }

  .person-item {
    position: relative;
    width: 26%;
    flex: 1 1 26%;
    min-height: 264px;
    padding: 33px 42px;
    border-right: 1px solid #DADADA;

    &:nth-last-child(1) {
      border-right: none;
    }

    &:nth-child(2) {
      .person-item__img {
        right: 0;
        bottom: 0;
      }
    }

    &:nth-child(3) {
      .person-item__img {
        right: 0;
        bottom: 10px;
      }
    }

    &:nth-child(4) {
      .person-item__img {
        padding: 0 42px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        right: 0;
        bottom: 20px;

        @include mq-custom(768px) {
          padding: 0;
        }

        @include mq-custom(640px) {
          bottom: 0;
          padding: 0;
          margin: 40px 0;
          justify-content: center;
        }

        picture {
          @include mq-custom(640px) {
            margin: 0 10px;
          }
        }
      }

      @include mq-custom(640px) {
        display: flex;
        justify-content: center;
        width: 100%;
        flex: 1 1 100%;
        border-top: 1px solid #DADADA;
      }
    }

    @include mq-custom(1366px) {
      padding: 30px 20px;
    }

    @include mq-custom(1280px) {
      width: 33.3%;
      flex: 1 1 33.3%;
    }

    @include mq-custom(768px) {
      position: relative;
      padding: 30px 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    @include mq-custom(640px) {
      width: 50%;
      flex: 1 1 50%;
    }
  }

  .person-item__text {
    position: relative;
    z-index: 2;

    p {
      font: 16px $font_main;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .person-item__img {
    position: absolute;
    z-index: 1;

    img {
      display: block;
      max-width: 100%;
    }

    @include mq-custom(768px) {
      position: relative;
    }
  }

  @include mq-custom(1280px) {
    flex-wrap: wrap;
  }
}

.payment__legal {
  .legal-title {
    position: relative;
    padding: 33px 40px;
    width: 22%;
    flex: 1 1 22%;
    background: #FDF2C6;

    &:after {
      @include pseudo(1,auto,50%,auto,-15px);
      width: 30px;
      height: 30px;
      background: #FDF2C6;
      transform: translateY(-50%) rotate(45deg);

      @include mq-custom(1024px) {
        @include pseudo(1,50%,auto,-10px,auto);
        width: 20px;
        height: 20px;
        transform: translateY(0) translateX(-50%) rotate(45deg);
      }
    }

    h2 {
      font: 25px $font_main;
      font-weight: bold;
      color: #484848;
      text-transform: uppercase;

      @include mq-custom(1366px) {
        font: 24px $font_main;
        font-weight: bold;
        color: #484848;
      }

      @include mq-custom(1280px) {
        font: 20px $font_main;
        font-weight: bold;
        color: #484848;
      }

      @include mq-custom(1024px) {
        font: 18px $font_main;
        font-weight: bold;
        color: #484848;
      }
    }

    @include mq-custom(1366px) {
      padding: 30px 20px;
    }

    @include mq-custom(1280px) {
      width: 100%;
      flex: 1 1 100%;
    }
  }

  .legal-item {
    position: relative;
    width: 19.5%;
    flex: 1 1 19.5%;
    min-height: 264px;
    padding: 33px 42px;
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;

    &:nth-last-child(1) {
      border-right: none;
    }

    &:nth-child(2) {
      .legal-item__img {
        img {
          width: 26px;
          height: 29px;
        }
      }
    }

    &:nth-child(3) {
      .legal-item__img {
        img {
          width: 28px;
          height: 25px;
        }
      }
    }

    &:nth-child(4) {
      .legal-item__img {
        img {
          width: 25px;
          height: 30px;
        }
      }
    }

    &:nth-child(5) {
      .legal-item__img {
        img {
          width: 32px;
          height: 32px;
        }
      }
    }

    @include mq-custom(1366px) {
      padding: 30px 20px;
    }

    @include mq-custom(1280px) {
      width: 25%;
      flex: 1 1 25%;
    }

    @include mq-custom(640px) {
      width: 50%;
      flex: 1 1 50%;
    }
  }

  .legal-item__text {
    position: relative;
    z-index: 2;

    p {
      font: 16px $font_main;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .legal-item__img {
    margin-bottom: 16px;

    img {
      display: block;
    }
  }

  @include mq-custom(1280px) {
    flex-wrap: wrap;
  }
}