@import "../base/mixins";

#payment__section-form {
  width: 100%;
  flex: 1 1 100%;
  border-top: 1px solid #DADADA;
}

.payment__form-wrap {
  @include mq-custom(1919px) {
    flex-direction: column;
  }
}

#payment__section-form {
  .payment__form_title-desc_wrap {
    .title {
      @include mq-custom(1919px) {
        width: 50%;
        flex: 1 1 50%;
      }

      @include mq-custom(1650px) {
        width: 100%;
        flex: 1 1 100%;
      }
    }

    .desc {
      margin-top: 10px;

      @include mq-custom(1919px) {
        width: 50%;
        flex: 1 1 50%;
      }

      @include mq-custom(1650px) {
        width: 100%;
        flex: 1 1 100%;
      }
    }

    @include mq-custom(1919px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex: 1 1 100%;
      padding: 40px 25px 10px 15px;
    }

    @include mq-custom(1650px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.payment__form_title-desc_wrap {
  width: 22%;
  height: 100%;
  flex: 1 1 22%;
  padding: 34px 5px 34px 34px;

  .title {
    h3 {
      font: 40px $font_main;
      font-weight: bold;
      color: $blue;
      text-transform: uppercase;

      @include mq-custom(1366px) {
        font: 30px $font_main;
        font-weight: bold;
        color: $blue;

        br {
          display: none;
        }
      }
    }
  }

  .desc {
    margin-top: 10px;

    p {
      font: 16px/22px $font_main;
      font-weight: normal;
      color: $black_70;

      @include mq-custom(1366px) {
        font: 12px/18px $font_main;
        font-weight: normal;
        color: $black_70;
      }
    }
  }

  @include mq-custom(1366px) {
    padding: 20px 20px 10px 20px;
  }
}

.payment__order-form_form-wrap {
  width: 78%;
  flex: 1 1 78%;
  padding: 30px 15px 30px 60px;

  @include mq-custom(1919px) {
    width: 100%;
    flex: 1 1 100%;
  }

  @include mq-custom(1366px) {
    padding: 14px 15px 8px 15px;
  }
}

.payment__order-form-elements_wrap {
  @include form_inputs();

  .textarea {
    margin: 17px 55px 15px 15px;
  }

  @include mq-custom(414px) {
    flex-direction: column;
  }
}

.payment__order-form-elements_wrap {
  .btn-submit_wrap {
    margin: 17px 15px 15px 0;
  }
}

#input_agree:checked + #label_agree::after {
  background: url("../../img/ic_check.svg") center center no-repeat white;
}