@import "../base/mixins";

#payment__section-form {
  width: 100%;
  flex: 1 1 100%;
  border-top: 1px solid #DADADA;
}

.payment__form-wrap {
  @include mq-custom(1280px) {
    flex-direction: column;
  }
}

#payment__section-form {
  .payment__form_title-desc_wrap {
    .desc {
      margin-top: 10px;
    }

    @include mq-custom(1280px) {
      width: 100%;
      flex: 1 1 100%;
    }
  }
}

#payment__order-form {
  @include mq-custom(768px) {
    flex-direction: column;
  }
}

.payment__form_title-desc_wrap {
  width: 22%;
  height: 100%;
  flex: 1 1 22%;
  padding: 34px 5px 34px 34px;

  .title {
    h3 {
      font: 40px $font_main;
      font-weight: bold;
      color: $blue;
      text-transform: uppercase;

      @include mq-custom(1366px) {
        font: 30px $font_main;
        font-weight: bold;
        color: $blue;

        br {
          display: none;
        }
      }
    }
  }

  .desc {
    margin-top: 10px;

    p {
      font: 16px/22px $font_main;
      font-weight: normal;
      color: $black_70;

      @include mq-custom(1366px) {
        font: 12px/18px $font_main;
        font-weight: normal;
        color: $black_70;
      }
    }
  }

  @include mq-custom(1366px) {
    padding: 20px 15px 10px 15px;
  }
}

.payment__order-form_form-wrap {
  width: 78%;
  flex: 1 1 78%;
  padding: 30px 15px 30px 60px;

  @include mq-custom(1366px) {
    padding: 14px 15px 8px 15px;
  }

  @include mq-custom(1280px) {
    width: 100%;
    flex: 1 1 100%;
  }
}

.payment__order-form-elements_wrap {
  @include form_inputs();

  .label-input_wrap {
    @include mq-custom(1024px) {
      width: 48%;
      flex: 1 1 48%;
      margin: 0 2% 0 0;
    }

    @include mq-custom(414px) {
      width: 100%;
      flex: 1 1 100%;
      margin: 0;
    }
  }

  .textarea {
    margin: 17px 55px 15px 15px;

    @include mq-custom(1024px) {
      width: 100%;
      flex: 1 1 100%;
      margin: 17px 2% 0 0;
    }
  }

  @include mq-custom(1024px) {
    flex-wrap: wrap;
  }

  @include mq-custom(414px) {
    flex-direction: column;
  }
}

.payment__order-form-elements_wrap {
  @include mq-custom(1024px) {
    justify-content: flex-end;
  }

  @include mq-custom(768px) {
    justify-content: center;
  }

  .btn-submit_wrap {
    margin: 17px 15px 15px 0;

    .btn_wrap {
      button {
        display: block;

        @include mq-custom(768px) {
          margin: 0 auto;
        }
      }
    }

    .check-agree_wrap {
      @include mq-custom(768px) {
        justify-content: center;
      }
    }

    @include mq-custom(1280px) {
      margin: 17px 0 15px 0;
    }
  }
}

#input_agree:checked + #label_agree::after {
  background: url("../../img/ic_check.svg") center center no-repeat white;
}