.breadcrumbs_wrap {
  height: 57px;
  width: 100%;
  padding: 20px 50px;
  border-left: 1px solid $light-grey;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  @include mq-custom(1024px) {
    border-left: none;
  }

  @include mq-custom(1366px) {
    padding: 20px;
  }

  @include mq-custom(414px) {
    height: 52px;
    padding: 16px 50px 16px 70px;
  }
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-link {
  padding-right: 10px;
  font: 14px $font_main;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.breadcrumbs-link_active {
  font: 14px $font_main;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  border-right: none;
}

