#footer-inner {
  width: 100%;
  justify-content: space-between;
  border-left: 1px solid #C6C2F3;
  border-top: 1px solid #C6C2F3;

  @include mq-custom(1366px) {
    height: auto;
  }

  @include mq-custom(1280px) {
    flex-wrap: wrap;
  }

  @include mq-custom(414px) {
    border-left: none;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.footer-inner__items-wrap {
  width: 86%;
  flex: 1 1 86%;
  justify-content: space-between;

  @include mq-custom(1280px) {
    flex-wrap: wrap;
  }

  @include mq-custom(414px) {
    width: 100%;
    flex: 1 1 100%;
    border-left: none;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.footer-inner__title {
  width: 24%;
  flex: 1 1 24%;
  padding: 44px 10px 20px 30px;
  border-right: 1px solid $dark-grey;

  h3 {
    font: 25px $font_main;
    font-weight: bold;
    color: $blue;
    text-transform: uppercase;

    @include mq-custom(1366px) {
      font: 20px $font_main;
      font-weight: bold;
      color: $blue;
    }
  }

  @include mq-custom(1280px) {
    width: 100%;
    flex: 1 1 100%;
    padding: 20px;
    border-right: none;
  }
}

.footer-inner__item {
  padding: 25px 25px 15px;
  width: 25%;
  flex: 1 1 25%;
  border-right: 1px solid $dark-grey;

  &:nth-last-child(1) {
    border-right: none;
  }

  @include mq-custom(1280px) {
    width: 230px;
    border-top: 1px solid $dark-grey;
  }
}

.footer-inner__item__number {
  margin-bottom: 5px;

  p {
    font: 12px $font_main;
    font-weight: normal;
    color: $dark-grey;
    text-transform: uppercase;
  }
}

.footer-inner__item__title-price {
  margin-bottom: 18px;
  justify-content: space-between;

  .title {
    width: 60%;
    flex: 1 1 60%;
    font: 14px/17px $font_main;
    font-weight: normal;
    color: #252525;
  }

  .price {
    width: 40%;
    flex: 1 1 40%;
    font: 16px $font_main;
    font-weight: bold;
    color: $blue;
    text-transform: uppercase;
    text-align: right;
  }
}

.footer-inner__item__name {
  margin-bottom: 5px;

  .desc {
    font: 12px $font_main;
    font-weight: normal;
    color: $dark-grey;
  }

  .name {
    font: 12px $font_main;
    font-weight: normal;
    color: #252525;
  }
}