@import "../base/mixins";

#header {
  width: 100%;
  height: 130px;
  padding: 0 52px 0 48px;
  align-items: center;
}

.header-contacts_wrap {
  a {
    display: block;
    font: 25px/30px $font_main;
    font-weight: bold;
    color: #152748;
    text-decoration: none;
    cursor: pointer;
  }

  .order-call {
    display: block;
    margin-top: 12px;
    font: 16px/20px $font_main;
    font-weight: normal;
    color: $blue;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.header-nav_wrap {
  margin-left: 5%;
}

.header-nav {
  li {
    a {
      display: block;
      padding: 15px 30px;
      font: 15px/18px $font_main;
      font-weight: 500;
      color: $black_80;
      border-radius: 100px;
      background: transparent;
      cursor: pointer;
      transition: all .3s linear;

      &:hover {
        background: #E2F3FF;
        font: 15px/18px $font_main;
        font-weight: normal;
        color: #1F1F1F;
      }
    }
  }

  a.active, a:focus, a:active {
    background: #E2F3FF;
    font: 15px/18px $font_main;
    font-weight: 500;
    color: $black_80;
  }
}

.order-service_link-wrap {
  flex: 1 0 auto;
  text-align: right;

  .order-service_link {
    @include btn-order;
  }
}