@import "../base/mixins";

#header {
  width: 100vw;
  height: 130px;

  @include mq-custom(414px) {
    height: auto;
  }
}

.header-logo_wrap {
  width: 16%;
  flex: 1 1 16%;
  height: 130px;
  padding: 30px 35px;
  border-right: 1px solid #DADADA;

  @include mq-custom(1650px) {
    padding: 30px 25px ;
  }

  @include mq-custom(1450px) {
    padding: 30px 15px;
  }

  @include mq-custom(1024px) {
    width: auto;
    max-width: 150px;
    flex: 1 1 auto;
  }

  @include mq-custom(414px) {
    padding: 10px;
    height: auto;
  }
}

.header-logo {
  height: 100%;
  justify-content: center;
  cursor: pointer;

  img {
    display: block;
    height: auto;
    width: 156px;
    max-height: 30px;

    @include mq-custom(1200px) {
      width: 136px;
    }

    @include mq-custom(1024px) {
      width: 116px;
    }
  }

  span {
    display: block;
    margin-top: 8px;
    font: 12px/15px $font_main;
    font-weight: normal;
    color: #58647C;

    @include mq-custom(414px) {
      display: none;
      margin-top: 8px;
      font: 10px/15px Montserrat, sans-serif;
      font-weight: normal;
      color: #58647C;
    }
  }
}

.header-content_wrap {
  position: relative;
  padding: 0 52px 0 48px;
  width: 84%;
  flex: 1 1 84%;
  align-items: center;

  @include mq-custom(1550px) {
    padding: 0 40px;
  }

  @include mq-custom(1366px) {
    padding: 0 20px;
  }

  @include mq-custom(768px) {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @include mq-custom(414px) {
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
  }
}

.header-contacts_wrap {
  a {
    display: block;
    font: 25px/30px $font_main;
    font-weight: bold;
    color: #152748;
    text-decoration: none;
    cursor: pointer;

    @include mq-custom(1366px) {
      font: 20px/25px $font_main;
      font-weight: bold;
      color: #152748;
    }

    @include mq-custom(640px) {
      font: 16px/20px $font_main;
      font-weight: bold;
      color: #152748;
    }

    @include mq-custom(414px) {
      display: none;
    }
  }

  .order-call {
    display: block;
    margin-top: 12px;
    font: 16px/20px $font_main;
    font-weight: normal;
    color: $blue;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
    transition: color .3s linear;

    &:hover {
      color: $dark-blue;
    }

    @include mq-custom(414px) {
      margin-top: 0;
      font: 12px/16px $font_main;
      font-weight: normal;
      color: $blue;
    }
  }

  @include mq-custom(768px) {
    width: 40%;
    order: 1;
  }

  @include mq-custom(640px) {
    width: auto;
  }

  @include mq-custom(414px) {
    order: 2;
    text-align: right;
  }
}

.mobile__nav-btn_wrap {
  display: none;
  margin-left: 20px;
  width: 45px;
  height: 45px;

  .btn-menu {
    width: 100%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: flex-start;

    span {
      display: block;
      height: 2px;
      margin-right: 15px;
      margin-bottom: 3px;
      transition: all .3s linear;

      @include mq-custom(414px) {
        margin-right: 0;
      }
    }

    .one, .three {
      width: 14px;
      background: $blue;
    }

    .two {
      width: 19px;
      background: $blue;
    }

    .three {
      margin-bottom: 0;
    }

    @include mq-custom(768px) {
      align-items: flex-end;
    }
  }

  @include mq-custom(1200px) {
    display: block;
  }

  @include mq-custom(768px) {
    width: 40%;
    order: 2;
    margin-top: -60px;
  }

  @include mq-custom(640px) {
    width: auto;
    margin-top: 0;
  }

  @include mq-custom(414px) {
    order: 1;
    height: 15px;
    margin-bottom: 15px;
    margin-left: 0;
  }
}

.mobile__nav-btn_wrap.nav-btn_active {
  .btn-menu {
    span {
      &:nth-child(1), &:nth-child(3) {
        margin: 0;
        background-color: $blue !important;
      }

      &:nth-child(1) {
        transform: translate(0, 2px) rotate(-45deg) scaleX(1.4);
      }

      &:nth-child(2) {
        opacity: 0;
        height: 0;
        margin: 0;
      }

      &:nth-child(3) {
        transform: translate(0, 0) rotate(45deg) scaleX(1.4);
        background-color: $blue !important;
      }
    }
  }
}

.header-nav_wrap {
  margin-left: 5%;

  @include mq-custom(1550px) {
    margin-left: 3%;
  }

  @include mq-custom(1280px) {
    margin-right: 2%;
  }

  @include mq-custom(1200px) {
    display: none;
  }

  @include mq-custom(1120px) {
    margin-left: 0;
  }
}

.header-nav_wrap.header-nav_active {
  display: block;
  position: absolute;
  z-index: 3;
  top: 70%;
  left: -10px;
  padding: 20px;
  margin-right: 0;
  background: #F6FBFF;
  border: 1px solid #DADADA;

  .header-nav {
    position: relative;

    @include mq-custom(768px) {
      top: 0;
      flex-direction: column;
    }
  }

  @include mq-custom(768px) {
    right: 0;
    left: auto;
    top: 40%;
  }

  @include mq-custom(640px) {
    top: 70%;
  }

  @include mq-custom(414px) {
    top: 50%;
  }
}

.header-nav {
  li {
    a {
      display: block;
      padding: 15px 30px;
      font: 15px/18px $font_main;
      font-weight: 500;
      color: $black_80;
      border-radius: 100px;
      background: transparent;
      cursor: pointer;
      transition: all .3s linear;

      &:hover {
        background: #E2F3FF;
        font: 15px/18px $font_main;
        font-weight: normal;
        color: #1F1F1F;
      }

      @include mq-custom(1550px) {
        padding: 15px 20px;
      }

      @include mq-custom(1280px) {
        padding: 10px 15px;
      }
    }
  }

  a.active, a:focus, a:active {
    background: #E2F3FF;
    font: 15px/18px $font_main;
    font-weight: 500;
    color: $black_80;
  }

  @include mq-custom(1280px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.order-service_link-wrap {
  flex: 1 0 auto;
  text-align: right;

  .order-service_link {
    @include btn-order;
    transition: all .3s linear;

    &:hover {
      background: $gradient_reverse;
    }

    @include mq-custom(768px) {
      width: 170px;
    }
  }

  @include mq-custom(768px) {
    width: 40%;
    flex: 1 1 40%;
    order: 3;
    margin-top: -75px;
  }

  @include mq-custom(640px) {
    display: none;
  }
}

.select {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.select_hidden {
  display: none;
  visibility: hidden;
}

.select_styled {
  display: block;
  margin-bottom: 12px;
  font: 16px/20px $font_main;
  font-weight: normal;
  color: $blue;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
  transition: color .3s linear;

  &:hover {
    color: $dark-blue;
  }

  @include mq-custom(414px) {
    margin-bottom: 5px;
    font: 12px/16px $font_main;
    font-weight: normal;
    color: $blue;
  }
}

.select_options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: -50%;
  z-index: 2;
  margin-top: 15px;
  padding: 20px 10px;
  list-style: none;
  background: #F6FBFF;
  border: 1px solid #DADADA;
  align-items: flex-start;

  li {
    margin: 1px 0;
    margin-top: 12px;
    font: 16px/20px $font_main;
    color: black;
    cursor: pointer;
    transition: all .3s linear;

    &:hover {
      color: $blue;
      text-decoration: underline;
    }

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

.select_options.active {
  display: flex;
}

.select_styled.active, .select_styled:active {
  background: #fff;
}