#master__section-text {
  width: 100%;
  justify-content: space-between;

  .text_wrap {
    width: 61%;
    flex: 1 1 61%;
    padding: 60px 30px 20px 50px;

    @include mq-custom(1366px) {
      padding: 40px 30px;
    }

    @include mq-custom(768px) {
      padding: 40px 20px;
    }

    @include mq-custom(640px) {
      padding: 30px 10px;
      width: 100%;
      flex: 1 1 100%;
    }
  }

  .title-desc {
    h1 {
      font: 40px $font_main;
      font-weight: bold;
      color: #002855;
      text-transform: uppercase;

      @include mq-custom(1450px) {
        font: 38px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(1366px) {
        font: 36px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(1024px) {
        font: 34px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(768px) {
        font: 30px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(414px) {
        font: 26px $font_main;
        font-weight: bold;
        color: #002855;
      }
    }

    p {
      margin-top: 20px;
      font: 20px $font_main;
      font-weight: bold;
      color: #002855;

      @include mq-custom(1366px) {
        font: 18px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(1024px) {
        margin-top: 10px;
        font: 17px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(768px) {
        font: 16px $font_main;
        font-weight: bold;
        color: #002855;
      }
    }
  }

  .text {
    margin-top: 40px;

    p {
      font: 19px $font_main;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.6);

      @include mq-custom(1366px) {
        font: 17px $font_main;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.6);
      }

      @include mq-custom(1024px) {
        font: 16px $font_main;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.6);
      }

      @include mq-custom(768px) {
        font: 14px $font_main;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.6);
      }

      @include mq-custom(640px) {
        margin-right: 0;
      }
    }

    @include mq-custom(1024px) {
      margin-top: 30px;
    }
  }

  .photo_wrap {
    width: 39%;
    flex: 1 1 39%;

    picture {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;

      @include mq-custom(1920px) {
        justify-content: center;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }

    @include mq-custom(640px) {
      display: none;
    }
  }
}