@import 'base/reset';
@import 'base/fonts';

/* Переменные */
@import 'base/variables';

/* Миксины */
@import 'base/mixins';

/* flex классы */
.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

html.fixed {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*Контейнер для всего сайта */
#wrapper {
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

.content-footer_wrap {
  width: 84%;
  flex: 1 1 84%;
  flex-direction: column;
  justify-content: space-between;

  @include mq-custom(1024px) {
    width: auto;
    flex: 1 1 auto;
  }
}

.index__content {
  @include mq-custom(768px) {
    flex-direction: column;
  }
}

// Общие блоки сайта
@import "general_elements/header";
@import "general_elements/footer";
@import "general_elements/sidebar";

// Главная
@import "index/slider";
@import "index/form";
@import "index/services";

//Контакты