#help__content {
  padding: 53px 47px;

  @include mq-custom(1366px) {
    padding: 40px 30px;
  }

  @include mq-custom(768px) {
    padding: 30px 20px;
  }

  @include mq-custom(640px) {
    padding: 30px 10px;
  }
}

.help__title {
  margin-bottom: 49px;

  h2 {
    font: 25px $font_main;
    font-weight: bold;
    color: #0B80E0;
    text-transform: uppercase;

    @include mq-custom(768px) {
      font: 22px $font_main;
      font-weight: bold;
      color: #0B80E0;
    }

    @include mq-custom(414px) {
      font: 20px $font_main;
      font-weight: bold;
      color: #0B80E0;
    }
  }

  @include mq-custom(768px) {
    margin-bottom: 40px;
  }

  @include mq-custom(640px) {
    margin-bottom: 30px;
  }
}

.help__faq-wrap {
  width: 100%;
  column-count: 2;

  @include mq-custom(1024px) {
    column-count: 1;
  }
}

.help__faq-item {
  break-inside: avoid-column;
  margin-bottom: 20px;
  background: #EEF8FF;

  span {
    display: block;
  }

  .question {
    position: relative;
    padding: 16px 60px 16px 26px;
    font: 17px $font_main;
    font-weight: 500;
    color: black;
    cursor: pointer;

    &:after {
      position: absolute;
      @include pseudo(1,auto,0,0,0);
      width: 52px;
      height: inherit;
      background: url("../../img/arrow-down-white.svg") center center no-repeat #367EFF;
      background-size: 17px 9px;

      @include mq-custom(768px) {
        width: 30px;
      }
    }

    @include mq-custom(768px) {
      padding: 10px 40px 10px 15px;
      height: auto;
      font: 16px $font_main;
      font-weight: 500;
      color: black;
    }

    @include mq-custom(640px) {
      height: auto;
      font: 15px $font_main;
      font-weight: 500;
      color: black;
    }

    @include mq-custom(414px) {
      height: auto;
      font: 14px $font_main;
      font-weight: 500;
      color: black;
    }
  }

  .answer {
    display: none;
    padding: 15px 26px;
    font: 15px $font_main;
    font-weight: normal;
    color: black;
    border-top: 1px solid #CCD5DB;
    transition: all .3s linear;

    a {
      text-decoration: none;
      font: 15px $font_main;
      font-weight: normal;
      color: #367EFF;
      cursor: pointer;

      @include mq-custom(768px) {
        font: 15px $font_main;
        font-weight: normal;
        color: #367EFF;
      }
    }

    @include mq-custom(768px) {
      padding: 10px 15px;
      height: auto;
      font: 14px $font_main;
      font-weight: normal;
      color: black;
    }
  }
}

.help__faq-item.faq-item_active {
  height: auto;

  .question {
    &:after {
      transform: rotate(180deg);
    }
  }

  .answer {
    display: block;
  }
}