#about-service__section-text {
  width: 100%;
  padding: 60px 50px 0;

  .title-desc {
    h1 {
      font: 40px $font_main;
      font-weight: bold;
      color: #002855;
      text-transform: uppercase;

      @include mq-custom(1450px) {
        font: 38px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(1366px) {
        font: 36px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(1024px) {
        font: 34px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(768px) {
        font: 30px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(414px) {
        font: 26px $font_main;
        font-weight: bold;
        color: #002855;
      }
    }

    p {
      margin-top: 20px;
      font: 20px $font_main;
      font-weight: bold;
      color: #002855;

      @include mq-custom(1366px) {
        font: 18px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(1024px) {
        margin-top: 10px;
        font: 17px $font_main;
        font-weight: bold;
        color: #002855;
      }

      @include mq-custom(768px) {
        font: 16px $font_main;
        font-weight: bold;
        color: #002855;
      }
    }
  }

  .text {
    width: 100%;
    margin-top: 40px;
    column-count: 2;
    page-break-inside: avoid;
    break-inside: avoid;

    p {
      margin-bottom: 20px;
      margin-right: 50px;
      font: 19px $font_main;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.6);

      @include mq-custom(1280px) {
        font: 17px $font_main;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.6);
      }

      @include mq-custom(768px) {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }

    @include mq-custom(768px) {
      column-count: 1;
    }
  }

  @include mq-custom(1366px) {
    padding: 50px 30px 0;
  }

  @include mq-custom(1280px) {
    padding: 40px 30px 0;
  }

  @include mq-custom(768px) {
    padding: 40px 20px 0;
  }

  @include mq-custom(640px) {
    padding: 30px 10px 0;
  }
}

#about-service__section-contacts {
  padding: 60px 50px 40px;

  .title-desc {
    margin-bottom: 30px;

    h2 {
      font: 30px $font_main;
      font-weight: bold;
      color: #002855;
    }
  }

  .contacts-wrap {
    @include mq-custom(1280px) {
      flex-direction: column;
    }
  }

  .contacts {
    width: 30%;
    flex: 1 1 30%;

    a {
      display: block;
      margin-bottom: 30px;
      font: 16px $font_main;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.6);

      span {
        font: 16px $font_main;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.6);
      }

      @include mq-custom(1280px) {
        margin-bottom: 20px;
      }
    }

    @include mq-custom(1450px) {
      width: 40%;
      flex: 1 1 40%;
    }

    @include mq-custom(1280px) {
      width: 100%;
      flex: 1 1 100%;
      margin-bottom: 20px;
    }
  }

  .address {
    width: 70%;
    flex: 1 1 70%;

    p {
      margin-bottom: 20px;
      font: 16px $font_main;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.6);

      span {
        font: 16px $font_main;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    @include mq-custom(1450px) {
      width: 60%;
      flex: 1 1 60%;
    }

    @include mq-custom(1280px) {
      width: 100%;
      flex: 1 1 100%;
    }
  }

  @include mq-custom(1366px) {
    padding: 50px 30px 40px;
  }

  @include mq-custom(1280px) {
    padding: 40px 30px;
  }

  @include mq-custom(768px) {
    padding: 40px 20px;
  }

  @include mq-custom(640px) {
    padding: 40px 10px;
  }
}