@import "../base/mixins";

#index__section-form {
  width: 100%;
  height: 33.333%;
  flex: 1 1 100%;
}

.index__form_title-desc_wrap {
  width: 40%;
  height: 100%;
  flex: 1 1 40%;
  padding: 40px 50px 10px 50px;

  .title {
    h3 {
      font: 40px $font_main;
      font-weight: bold;
      color: $blue;
      text-transform: uppercase;
    }
  }

  .desc {
    margin-top: 10px;
    p {
      font: 16px/22px $font_main;
      font-weight: bold;
      color: $black_70;
    }
  }
}

.index__order-form_form-wrap {
  width: 60%;
  flex: 1 1 60%;
  padding: 34px 25px 48px 15px;
}

.index__order-form-elements_wrap {
  width: 100%;
  flex: 1 1 100%;

  .label-input_wrap, .btn-submit_wrap {
    margin: 0 15px 15px 0;
    width: 50%;
    flex: 1 1 50%;
  }

  .label_wrap {
    margin-bottom: 4px;

    label {
      font: 13px/16px $font_main;
      font-weight: bold;
      color: $dark-grey;
      cursor: pointer;
    }
  }

  .input_wrap {
    input, textarea {
      padding: 15px 19px;
      background: none;
      width: 100%;
      font: 15px/18px $font_main;
      font-weight: bold;
      color: $black_70;
      border: 1px solid $light-grey;;
      border-radius: 3px;
    }

    textarea {
      resize: none;
    }

    @include input_placeholder($color:$black_70);

    @include textarea_placeholder();
  }

  .btn-submit_wrap {
    .btn_wrap {
      margin: 10px 0;

      button {
        @include btn-order;
      }
    }

    .check-agree_wrap {
      align-items: center;

      label {
        display: block;
        position: relative;
        padding-left: 35px;
        font: 13px/16px $font_main;
        font-weight: bold;
        color: $dark-grey;
        cursor: pointer;

        &:before {
          @include pseudo($top:50%,$bottom:auto);
          width: 20px;
          height: 20px;
          background: $gradient;
          transform: translateY(-50%);
        }

        &:after {
          @include pseudo(2,$top:50%,$bottom:auto,$left:1px,$right:1px);
          width: 18px;
          height: 19px;
          background: white;
          transform: translateY(-50%);
        }
      }

      input {
        display: none;
        width: 20px;
        height: 20px;
      }
    }
  }
}

#input_agree:checked + #label_agree::after {
  background: url("../../img/ic_check.svg") center center no-repeat white;
}