@import "../base/mixins";

#index__section-form {
  width: 100%;
  height: 33.333%;
  flex: 1 1 100%;
}

.index__form-wrap {
  @include mq-custom(1366px) {
    flex-direction: column;
  }
}

.index__form_title-desc_wrap {
  width: 40%;
  height: 100%;
  flex: 1 1 40%;
  padding: 40px 50px 10px 50px;

  .title {
    h3 {
      font: 40px $font_main;
      font-weight: bold;
      color: $blue;
      text-transform: uppercase;

      @include mq-custom(1366px) {
        font: 30px $font_main;
        font-weight: bold;
        color: $blue;

        br {
          display: none;
        }
      }
    }
  }

  .desc {
    margin-top: 10px;

    p {
      font: 16px/22px $font_main;
      font-weight: normal;
      color: $black_70;

      @include mq-custom(1366px) {
        font: 12px/18px $font_main;
        font-weight: normal;
        color: $black_70;
      }
    }
  }

  @include mq-custom(1366px) {
    width: 100%;
    flex: 1 1 100%;
    padding: 20px 20px 10px 20px;
  }
}

.index__order-form_form-wrap {
  width: 60%;
  flex: 1 1 60%;
  padding: 34px 25px 48px 15px;

  @include mq-custom(1366px) {
    width: 100%;
    flex: 1 1 100%;
    padding: 14px 15px 8px 15px;
  }
}

.index__order-form-elements_wrap {
  width: 100%;
  flex: 1 1 100%;

  .label-input_wrap, .btn-submit_wrap {
    margin: 0 15px 15px 0;
    width: 50%;
    flex: 1 1 50%;

    @include mq-custom(414px) {
      width: 100%;
      flex: 1 1 100%;
    }
  }

  .label_wrap {
    margin-bottom: 4px;

    label {
      font: 13px/16px $font_main;
      font-weight: bold;
      color: $dark-grey;
      cursor: pointer;
    }
  }

  .input_wrap {
    input, textarea {
      padding: 15px 19px;
      background: none;
      width: 100%;
      font: 15px/18px $font_main;
      font-weight: bold;
      color: $black_70;
      border: 1px solid $light-grey;;
      border-radius: 3px;
    }

    textarea {
      resize: none;
    }

    @include input_placeholder($color:$black_70);

    @include textarea_placeholder();

    @include mq-custom(1366px) {
      @include input_placeholder($font-size:12px);
      @include textarea_placeholder($font-size:12px);
    }
  }

  .btn-submit_wrap {
    .btn_wrap {
      margin: 10px 0;

      button {
        @include btn-order;
        transition: all .3s linear;

        &:hover {
          background: $gradient_reverse;
        }
      }

      @include mq-custom(414px) {
        text-align: center;
      }
    }

    .check-agree_wrap {
      align-items: center;

      label {
        display: block;
        position: relative;
        padding-left: 35px;
        font: 13px/16px $font_main;
        font-weight: bold;
        color: $dark-grey;
        cursor: pointer;

        &:before {
          @include pseudo($top:50%,$bottom:auto);
          width: 20px;
          height: 20px;
          background: $gradient;
          transform: translateY(-50%);
        }

        &:after {
          @include pseudo(2,$top:50%,$bottom:auto,$left:1px,$right:1px);
          width: 18px;
          height: 19px;
          background: white;
          transform: translateY(-50%);
        }
      }

      input {
        display: none;
        width: 20px;
        height: 20px;
      }

      @include mq-custom(414px) {
        justify-content: center;
      }
    }
  }

  @include mq-custom(414px) {
    flex-direction: column;
  }
}

#input_agree:checked + #label_agree::after {
  background: url("../../img/ic_check.svg") center center no-repeat white;
}