#index__section-slider {
  height: auto;
  min-height: 66.66%;

  @include mq-custom(1919px) {
    min-height: auto;
  }
}

#index__slider-form_wrap {
  display: flex;
  width: 60%;
  height: inherit;
  flex: 1 1 60%;
  flex-direction: column;
  justify-content: space-between;

  @include mq-custom(768px) {
    width: 100%;
    flex: 1 1 100%;
  }
}

#index__slider {
  height: 100%;

  .slide {
    position: relative;
    padding-bottom: 120px;
    height: 100%;
    background: #7266FF;
    justify-content: center;
    flex-direction: column;
    background: url("../../img/slider-photo_1.png") center center no-repeat;
    background-size: cover;
  }

  .slide_content {
    position: relative;
    z-index: 2;
    padding: 114px 50px 0 50px;
    width: 70%;
    flex: 1 1 70%;

    @include mq-custom(1366px) {
      padding: 114px 30px 0 30px;
    }

    @include mq-custom(768px) {
      padding: 80px 30px 0 30px;
    }

    @include mq-custom(640px) {
      width: 100%;
      flex: 1 1 100%;
    }

    @include mq-custom(414px) {
      padding: 60px 20px 0 20px;
    }
  }

  .slide_title {
    h3 {
      font: 40px/49px $font_main;
      font-weight: 600;
      color: white;

      @include mq-custom(1366px) {
        font: 30px/40px $font_main;
        font-weight: 600;
        color: white;
      }

      @include mq-custom(414px) {
        font: 24px/36px $font_main;
        font-weight: 600;
        color: white;
      }
    }
  }

  .slide_desc {
    margin-top: 20px;

    p {
      font: 17px/30px $font_main;
      font-weight: normal;
      color: white;

      @include mq-custom(1366px) {
        font: 15px/28px $font_main;
        font-weight: normal;
        color: white;
      }

      @include mq-custom(414px) {
        font: 12px/24px $font_main;
        font-weight: normal;
        color: white;
      }
    }
  }

  .slide_img {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: right;

    img {
      height: 100%;
    }
  }
}

.index__slider-wrap {
  position: relative;
  height: 100%;

  .pagination {
    position: relative;
    left: 50px;
    bottom: 50px;

    .dot {
      display: block;
      position: relative;
      margin-right: 12px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: white;
      cursor: pointer;

      &:before {
        opacity: 0;
        visibility: hidden;
        @include pseudo(1,$top:50%,$bottom:auto,$left:50%,$right:auto);
        width: 15px;
        height: 15px;
        border: 1px solid white;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        transition: all .3s linear;
      }
    }

    .dot.active, .dot:hover {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }

    @include mq-custom(768px) {
      left: 30px;
    }

    @include mq-custom(414px) {
      left: 20px;
    }
  }
}