$breakpoints: (
        "phone":   414px,
        "tablet":  768px,
        "laptop":  1366px,
        "desktop": 1920px
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == min {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin mq-custom($width, $type: max) {
  @if $type == min {
    $width: $width - 1px;
  }
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

@mixin auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin pseudo($z:-1,$left:0,$top:0,$bottom:0,$right:0) {
  position: absolute;
  content: '';
  z-index: $z;
  left: $left;
  top: $top;
  bottom: $bottom;
  right: $right;
}

@mixin btn-order($background: $gradient, $color:white) {
  min-width: 170px;
  max-width: 247px;
  width: 100%;
  height: 47px;
  background: $background;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 100px;
  font: 15px/18px Montserrat, sans-serif;
  font-weight: normal;
  color: $color;
  cursor: pointer;
}

@mixin input_placeholder($color:$dark-grey,$font-size:15px,$font-weight: normal) {
  input::-webkit-input-placeholder {
    opacity:1;
    font: $font-size $font_main;
    font-weight: $font-weight;
    color: $color;
  }/* webkit */
  input::-moz-placeholder {
    opacity:1;
    font: $font-size $font_main;
    font-weight: $font-weight;
    color: $color;
  }/* Firefox 19+ */
  input:-moz-placeholder {
    opacity:1;
    font: $font-size $font_main;
    font-weight: $font-weight;
    color: $color;
  }/* Firefox 18- */
  input:-ms-input-placeholder {
    opacity:1;
    font: $font-size $font_main;
    font-weight: $font-weight;
    color: $color;
  }/* IE */

  input:focus::-webkit-input-placeholder {opacity:0;}/* webkit */
  input:focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
  input:focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
  input:focus:-ms-input-placeholder      {opacity:0;}/* IE */
}

@mixin textarea_placeholder($color:rgba(0, 0, 0, 0.35),$font-size:15px,$font-weight: normal) {
  textarea::-webkit-input-placeholder {
    opacity:1;
    font: $font-size $font_main;
    font-weight: $font-weight;
    color: $color;
  }/* webkit */
  textarea::-moz-placeholder {
    opacity:1;
    font: $font-size $font_main;
    font-weight: $font-weight;
    color: $color;
  }/* Firefox 19+ */
  textarea:-moz-placeholder {
    opacity:1;
    font: $font-size $font_main;
    font-weight: $font-weight;
    color: $color;
  }/* Firefox 18- */
  textarea:-ms-input-placeholder {
    opacity:1;
    font: $font-size $font_main;
    font-weight: $font-weight;
    color: $color;
  }/* IE */

  textarea:focus::-webkit-input-placeholder {opacity:0;}/* webkit */
  textarea:focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
  textarea:focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
  textarea:focus:-ms-input-placeholder      {opacity:0;}/* IE */
}

@mixin form() {
  .title {
    h3 {
      font: 40px $font_main;
      font-weight: bold;
      color: $blue;
      text-transform: uppercase;

      @include mq-custom(1366px) {
        font: 30px $font_main;
        font-weight: bold;
        color: $blue;

        br {
          display: none;
        }
      }
    }
  }

  .desc {
    p {
      font: 16px/22px $font_main;
      font-weight: normal;
      color: $black_70;

      @include mq-custom(1366px) {
        font: 12px/18px $font_main;
        font-weight: normal;
        color: $black_70;
      }
    }
  }
}

@mixin form_inputs() {
  .label-input_wrap, .btn-submit_wrap {
    margin: 0 15px 15px 0;
    width: 50%;
    flex: 1 1 50%;

    @include mq-custom(414px) {
      width: 100%;
      flex: 1 1 100%;
    }
  }

  .label_wrap {
    margin-bottom: 4px;

    label {
      font: 13px/16px $font_main;
      font-weight: bold;
      color: $dark-grey;
      cursor: pointer;
    }
  }

  .input_wrap {
    input, textarea {
      padding: 15px 19px;
      background: none;
      width: 100%;
      font: 15px/18px $font_main;
      font-weight: bold;
      color: $black_70;
      border: 1px solid $light-grey;;
      border-radius: 3px;
    }

    textarea {
      resize: none;
    }

    @include input_placeholder($color:$black_70);

    @include textarea_placeholder();

    @include mq-custom(1366px) {
      @include input_placeholder($font-size:12px);
      @include textarea_placeholder($font-size:12px);
    }
  }

  .btn-submit_wrap {
    .btn_wrap {
      margin: 10px 0;

      button {
        @include btn-order;
        transition: all .3s linear;

        &:hover {
          background: $gradient_reverse;
        }
      }

      @include mq-custom(414px) {
        text-align: center;
      }
    }

    .check-agree_wrap {
      align-items: center;

      label {
        display: block;
        position: relative;
        z-index: 1;
        padding-left: 35px;
        font: 13px/16px $font_main;
        font-weight: bold;
        color: $dark-grey;
        cursor: pointer;

        &:before {
          @include pseudo($top:50%,$bottom:auto);
          width: 20px;
          height: 20px;
          background: $gradient;
          transform: translateY(-50%);
        }

        &:after {
          @include pseudo(2,$top:50%,$bottom:auto,$left:1px,$right:1px);
          width: 18px;
          height: 19px;
          background: white;
          transform: translateY(-50%);
        }
      }

      input {
        display: none;
        width: 20px;
        height: 20px;
      }

      @include mq-custom(414px) {
        justify-content: center;
      }
    }
  }
}