$color-red: #ea271a;
$DinPro: DINRoundPro, sans-serif;
$DinLight: DINRoundProLight, sans-serif;
$DinBlack: DINRoundProBlack, sans-serif;
$DinMedi: DINRoundProMedi, sans-serif;
$DinBold: DINRoundProBold, sans-serif;
$grey: #a3a3a3;
$light-grey: #ebebeb;
$green: #00a84f;
$blue: #008ad2;
$dark-grey: #2e2222;
$light-blue: #7bc1de;
$orange: #ef5238;
$light-orange: #f6921e;